@import
url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700italic);

html, body{
   background: #111E25;
   margin:0px; 
   padding:0px;
   width:100%;
   height:100%;
   font-family: 'Raleway', sans-serif;
   color:white;
}

a{
   color:white;
}


h1 {
  color: #f1c40f;
  font-size: 4rem;
  display: block;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }
}

p {
   text-align:center; 
   font-family: 'Raleway', sans-serif;
   font-size: 45px;
   color:white;
}

.body{
   width:100%;
   height:200px;
   display:flex;
}

.container{
   max-width:600px;
   margin:auto;
   background: #2b4242;
   padding:20px;
   box-sizing:border-box;
   box-shadow:0px 3px 6px rgba(0, 0, 0, 0.5);
   font-size:16px;
   border:1px solid #444;
   border-radius:3px;
   animation: 1.25s flyin ease;
}

.inputs{
   position:relative;
   float:left;
   width:100%;
   
   box-sizing:border-box;
   padding:10px 0px 10px 10px;
}

.inputs.half{ width:50%; }

.inputs input{
   width:100%;
   padding:20px 0px 4px 0px;
   background:transparent;
   
   box-sizing:border-box;
   border-color: #AAA;
   border-width: 0px 0px 2px 0px;
   color:white;
   outline:none;
   transition:all 0.3s;
   padding:0px 15x;
}

.inputs input:focus{
   border-bottom:2px solid #FFF;
}

.inputs input + label:after{
   content: " ";
}

.inputs input:placeholder-shown + label{
   color:#999;
   left:14px;
   bottom:-8px;
}
.inputs input:focus + label,
.inputs input + label{
   position:absolute;
   bottom:14px;
   left:10px;
   color:#999;
   line-height:60px;
   pointer-events:none;
   transition: all 0.25s;
   font-size:14px;
}

.form {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@keyframes flyin{
   from{ transform: translateY(100%); opacity:0; }
}
